html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(40%)
    saturate(1787%) hue-rotate(222deg) brightness(86%) contrast(94%);

  --header-bg-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;
}
